#calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vmin;
    /* ビューポートの最小寸法の80% */
    height: 80vmin;
    /* ビューポートの最小寸法の80% */
}

table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

th,
td {
    padding: 10px;
    text-align: center;
    width: calc(100% / 7);
    /* 各セルの幅を均等に設定 */
    height: calc(100% / 7);
    /* 各セルの高さを均等に設定 */
    box-sizing: border-box;
    font-size: 1em;
    color: #333;
}

td {
    background-color: #fff;
    border: 5px solid rgb(255 247 237);
}

.current-day {
    background-color: #FFD3C4;
}

.task_expired_day {
    background-color: #a3aeef;
}

.task_request_expired_day {
    background-color: #2ff30d;
}

.task_expired_other {
    background-color: #5be68c;
}

.cal-center {
    border-radius: 15px;
    border: 5px solid #fff;
    background-color: rgb(255 247 237);
    margin: 15% 10px;
    padding: 5% 5% 10% 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    
}

.cal-navi {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px
}